body {
  text-align: center;
}
.threatening {
  color: red;
  font-size: 18pt;
  font-style: italic;

}


/* main is child of container */
.main-form {
position: relative;
}

.no-border {
    border: 0;
    box-shadow: none;
}
.centered-contents {
  display: block;
  position: fixed;
  align-self: center;
}
.revealed {
  /* display: none; */
}
#panic {
  display: none;
}
